<aside class="aside">
  <div class="logo">
    <img src="http://rechargetree.com/UploadImages/services/full/1.png" />
  </div>
  <div class="menu">
    <ul>
      <li>
        <a routerLink="/home">
          <i class="icon-caret-right"></i> Recargar
        </a>
      </li>
      <li>
        <a routerLink="/balance">
          <i class="icon-caret-right"></i> Consultar saldo
        </a>
      </li>
      <li>
        <a routerLink="/history">
          <i class="icon-caret-right"></i> Mi historial de recargas
        </a>
      </li>
      <li>
        <a routerLink="/expense-history">
          <i class="icon-caret-right"></i> Mi historial de consumos
        </a>
      </li>
      <li>
        <a routerLink="/expense">
          <i class="icon-caret-right"></i> Realizar consumo
        </a>
      </li>
    </ul>
  </div>
</aside>
